<div class="register-container">
  <div class="register-box">
    <h2>Create an Account</h2>
    <form (ngSubmit)="register()">
      <input
        type="text"
        [(ngModel)]="user.fullName"
        name="fullName"
        placeholder="Full Name"
        required
      />
      <input
        type="email"
        [(ngModel)]="user.email"
        name="email"
        placeholder="Email"
        required
      />
      <input
        type="password"
        [(ngModel)]="user.password"
        name="password"
        placeholder="Password"
        required
      />

      <input
      type="text"
      [(ngModel)]="user.phoneNumber"
      name="phoneNumber"
      placeholder="Phone Number"
    />

    <input
      type="date"
      [(ngModel)]="user.dateOfBirth"
      name="dateOfBirth"
      placeholder="Date of Birth"
    />

    <select [(ngModel)]="user.gender" name="gender" required>
      <option [ngValue]="''" disabled hidden>Select Gender</option>
      <option [ngValue]="'Male'">Male</option>
      <option [ngValue]="'Female'">Female</option>
      <option [ngValue]="'Other'">Other</option>
    </select>

    <input
      type="text"
      [(ngModel)]="user.address"
      name="address"
      placeholder="Address"
    />

      <button type="submit">Register</button>
    </form>

    <p class="login-link">
      Already have an account?
      <a routerLink="/login">Login</a>
    </p>
  </div>
</div>
